@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');

:root {
    --orange: #FF4C29;
    --grey: #2C394B;
    --light-grey: #334756;
    --dark-grey: #082032;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: var(--orange);
}

body {
    background-color: var(--dark-grey);
    overflow-x: hidden;
}

.navbar,
.footer {
    background-color: var(--grey);
    font-family: "Carter One", system-ui;
}

.pesquisar:focus {
    border-color: var(--orange);
    box-shadow: none;
}

.btnpesquisar,
.btnpesquisar:hover {
    background-color: var(--orange);
    color: #fff;
}

.custom-toggler {
    color: var(--orange);
    font-size: 30px;
}

.usermenu {
    transform: translate(-5%, -20%);
}

.searchbar {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.carouselbox {
    height: 70vh;
}

.carouselimg {
    height: 70vh;
    width: 100%;
    opacity: 50%;
    object-fit: cover;
    object-position: auto;
    transform: translate3d(0, 0, 1px);
    align-self: center;
}

.carousel-caption {
    font-weight: bold;
    font-family: "Carter One", system-ui;
}

.carouselbtn,
.carouselbtn:hover {
    background-color: var(--orange);
    font-weight: bold;
    color: #fff;
    letter-spacing: 3px;
    font-family: "Carter One", system-ui;
}

.upcoming-releases-title{
    font-family: "Carter One", system-ui;
    letter-spacing: 3px;
    font-weight: bold;
}

.genrebtn,
.genrebtn:hover {
    background-color: var(--orange);
    font-size: 20px;
    font-family: "Carter One", system-ui;
    letter-spacing: 2px;
}

.selected {
    background-color: #922A15;
}

.moviecover {
    height: 27vh;
    width: 20vh;
    border-radius: 10px;
}

.movietitle {
    font-size: 1.3vw;
}

.customcell {
    text-decoration: none;
}

.profile {
    width: 50vh;
    background-color: var(--grey);
    border-radius: 50px;
}

.profilepic {
    height: 50vh;
    width: auto;
    object-fit: cover;
    object-position: auto;
    transform: translate3d(0, 0, 1px);
}

.editprofilebtn,
.editprofilebtn:hover {
    background-color: var(--orange);
    width: 20vh;
}

.editprofilecontainer {
    width: 50vh;
    background-color: var(--grey);
    border-radius: 50px;
}

.userpic {
    width: 70px;
}

.background {
    height: 100%;
    width: 100%;
    opacity: 40%;
}

.movie-image {
    height: 50vh;
}

.fade-overlay {
    bottom: 0;
    width: 100%;
    height: 40vh;
    background: linear-gradient(rgba(8, 32, 50, 0), rgba(8, 32, 50, 0.9));
}

.ratingicon {
    color: #ebdb34;
    font-size: 25px;
    margin-left: 7px;
    text-align: center;
}

.youtube-trailer {
    width: 560px;
    height: 315px;
}

.card {
    background-color: var(--grey);
    border-radius: 20px;
}

.publish-btn {
    background-color: var(--orange);
    width: 100px;
    height: 40px;
}

.publish-btn:hover {
    background-color: #922A15;
}

.comment-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    transform: translate3d(0, 0, 1px);
}

.comment-text {
    background-color: var(--light-grey);
    width: 100%;
    height: 10vh;
    outline: none;
    border-radius: 10px;
}

.rating {
    display: flex;
}

.star-icon {
    list-style-type: none;
    cursor: pointer;
    color: #ebdb34;
    font-size: 35px;
}

.star-icon::before{
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
  }
  .star-icon.active ~ .star-icon::before{
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: lighter;
  }
  .rating:hover .star-icon::before{
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
  }
  .star-icon:hover ~ .star-icon::before{
    content: "\f005";
    font-family: 'Font Awesome 5 Free';
    font-weight: lighter;
  }

.comment-split{
    height: 4px;
}

@media (max-width: 1200px) {
    .movietitle {
        font-size: 1.8vw;
    }
}

@media (max-width: 1100px) {
    .movietitle {
        font-size: 2vw;
    }
}

@media (min-width: 765px) and (max-width: 991px) {
    .youtube-trailer {
        margin-left: auto;
        margin-right: auto;
        width: 476px;
        height: 268px;
    }

    .movie-image {
        height: 40vh;
    }
}

@media (max-width: 991px) {
    .movie-image {
        height: 40vh;
    }
}

@media (max-width: 930px) {
    .movietitle {
        font-size: 2.5vw;
    }
}

@media (max-width: 768px) {
    .usermenu {
        right: auto !important;
        left: 0 !important;
        transform: translateY(-5px)
    }

    .searchbar {
        width: 90%;
    }

    .movietitle {
        font-size: 3vw;
    }
}

@media (max-width: 680px) {
    .movietitle {
        font-size: 3.2vw;
    }

    .youtube-trailer {
        margin-left: auto;
        margin-right: auto;
        width: 392px;
        height: 221px;
    }
}

@media (max-width: 600px) {
    .movietitle {
        font-size: 3.7vw;
    }
}

@media (max-width: 500px) {
    .carouselbox {
        display: none;
    }

    .movietitle {
        font-size: 4vw;
    }
}

@media (max-width: 430px) {
    .movietitle {
        font-size: 5vw;
    }
}

@media (max-width: 420px) {
    .youtube-trailer {
        width: 308px;
        height: 173px;
    }
}